/* normal */
@font-face {
    font-family: 'Droid Sans';
    font-display: swap;
    src: url('DroidSans.woff') format('woff'),
         url('DroidSans.ttf') format('truetype'),
         url('DroidSans.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* bold */
@font-face {
    font-family: 'Droid Sans';
    font-display: swap;
    src: url('DroidSans-Bold.woff') format('woff'),
         url('DroidSans-Bold.ttf') format('truetype'),
         url('DroidSans-Bold.svg#droid_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
